body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    background: rgba(255, 255, 255, 0.66);
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 24px;
    color: red;
    margin-bottom: 10px;
}
input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #dc8c00;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #8e5b00;
}

.result {
    color: green;
    margin-top: 20px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
td {
    background-color: aliceblue;
}